<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class="row">

      
      <div class="col-md-12">
        <h3>Latest Mars News</h3>
        <h5>{{mars_mission.Mars_Headlines}}</h5>
        <p>{{mars_mission.Mars_News_Details}}</p>
      </div>
    </div>

    
    <div class="row">      
      <div class="col-md-8">
        <h3>Featured Mars Image</h3>
        <img id="main-image" class="img-fluid" src="{{mars_mission.Mars_Space_Image}}" alt="Featured Mars Image" style= "width: 100%">
      </div>
      
      <div class="col-md-4">        
        <ul>      
          <h3>Current Mars Weather</h3>
          <p>{{mars_mission.Mars_Weather_Report}}</p>
        </ul>
        
        <ul>          
          <h3>Mars Facts</h3>
            <div>{{mars_mission.Mars_Facts | safe}}</div>
        </ul>

      </div>	
    </div>
    <p></p>
    <p></p>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center" style = "font-weight: bold">Mars Hemispheres</h3>
        <p></p>
      </div>
    </div>

    <div class="row">      
      {% for hemisphere in mars_mission.Mars_Hemispheres %}
        <div class="col-md-6">
          <img class="img-fluid" src="{{hemisphere.img_url}}" alt="Hemispheres" style= "width: 75%">
          <div class="caption" style = "font-weight: bold">{{hemisphere.title}}</div>
          <p>
          </p>
        </div>
      {% endfor %}
    </div>

  </div>
</body>
</html>